h2 {margin: auto; text-align: center; padding-top: 30px;
}

#box {
    background-color: white;
}

#box1 {
    background-color: white;
    padding-top: 200px;
}
#box2{background-color: white;
height: 520px;}